<article id="about" class="post card container">
  <div cleas="row">
    <div class="col-lg-8">
      <h1 class="post-header">A BIT ABOUT ME</h1>
      <p>Hi, My name is Nongmo Cai, I’m a User Experience Designer, I have previously lived in England, U.S. and now I’m back in China.</p>
      <p>I currently work at Ericsson in the UX team. I have worked on a wide range of products, including mobile web app, demo platforms and Internal software.</p>
      <p>For my spare time I love eating chips, traveling, going to exhibitions or walking in the parks.</p>

    </div>
    <div class="col-lg-4">
      <img class="img-responsive about-img" src="{{ site.me }}" alt="parts" />
    </div>
  </div>

</article>
