<!-- About Section -->
<section id="about" class="container content-section">
  <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><img class="img-responsive" src="/img/person.png" alt="parts" /></p>
      </div>
      <div id="about-detail" class="col-lg-4">
        <h1 class="ul-icons-h1"> Who am I </h1>
        <ul class="ul-icons">
            <li><span class="glyphicon glyphicon-user"></span> UX designer</li>
            <li><span class="glyphicon glyphicon-star"></span> Creative</li>
            <li><span class="glyphicon glyphicon-user"></span> Good at communication</li>
        </ul>
      </div>
  </div>
</section>
