<!-- Career Section -->
<section id="history" class="container content-section">
    <div class="row history-left">
        <div class="col-lg-6">
            <img class="img-responsive fade-left" src="/img/gx.png" alt="parts" />

        </div>
        <div class="col-lg-4 text-right history-gap">
            <h2>SelfCare</h2>
            <p>The goal of this project was to create a self-care application with Ericsson APIs with good User Experience, the first delivery of the application will enable the user to view critical information about their mobile account.<a href="/works/2015/09/20/selfcare.html">Read more.</a></p>
        </div>
    </div>

    <div class="row history-right">
        <div class="col-lg-4 col-lg-offset-2 history-gap text-left">
            <h2>You-tel for MBC2013</h2>
            <p>This was a demo for the 2013MCW in Barcelona to showcase the capabilities of Ericsson’s software via a fake product.
            Throughout the process, I collaborated with an interaction designer, a visual designer, a demo manager and a team of engineers to deliver the final demo.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-responsive fade-right" src="/img/gx.png" alt="parts" />
        </div>
    </div>

</section>
