<article class="post card container">
  <div cleas="row">
    <div class="col-lg-4">
      <img class="img-responsive post-cover" src="{{ post.cover }}" alt="parts" />
    </div>
    <div class="col-lg-6 col-lg-offset-1" style="margin-top:3rem">

      <h1 class="post-header">{{ post.title }}</h1>
      <div class="post-content">
        {{ post.introduction }}
        <p class="post-link">
          <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Read more &raquo;</a>
        </p>
      </div>
    </div>
  </div>

</article>
