<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  {% include navigation.html %}

  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

      {{ page.content | markdownify }}
      <ul class="list-inline">
        {% for post in paginator.posts %}

          <li class="li_works">
            <div class="thumbnail">
               <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}{{post.cover}}" alt="通用的占位符缩略图"></a>
            </div>
            <div class="caption">
               <p>
                <a href="{{site.baseurl}}{{post.url}}">
                <strong>{{post.title}}</strong>
                </a>
               </p>
            </div>
          </li>

        {% endfor %}
      </ul>
      {% include pagination.html %}

      </div>
    </div>
  </section>

  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        {% include social-buttons.html %}
      </div>
    </div>
  </section>

  {% include footer.html %}

  {% include js.html %}

</body>
</html>
